@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@300;400;600;700&display=swap');

.App {
  /* text-align: center; */
  margin: 0px;
  padding: 0px;
}

*{
  margin: 0px;
  padding: 0;
  
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

.DashBoard{
  background-color: rgba(255, 250, 250, 0.932);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  grid-gap: 0rem;
}





.TodaysOrderStatus{
  /* background-color: rgb(186, 247, 18); */
}





/* Total Order History Starts here */
.TotalOrderHistory{
  margin-top: 0px ;
  padding: 0px;
  border-radius: 10px;
}


.TotalOrderCard{
  font-size: 10px;
  color: red;
  background-color: rgba(184, 179, 179, 0.603);
  margin-top: 0;
}

.totalJob{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  margin-top: 15px;
  align-items: center;
}

.job-description{
  margin-left: 20px;;
}


.totalJob-title{
  color: rgba(6, 111, 197, 0.979);
  font-weight: 800;
  font-size: 16px;
  margin-top: 20px
}

.totalJob-value{
  color: rgba(0, 0, 0, 0.767);
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 20px;
}

.totalJob-icon{
  color: rgba(10, 5, 5, 0.678);
  font-size: 30px;
  margin-right: 20px;
}



.completedJob{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  margin-top: 15px;
  align-items: center;
}


.completed-title{
  color: rgba(253, 83, 5, 0.979);
  font-weight: 800;
  font-size: 16px;
  margin-top: 20px;
}

.completed-value{
  color: rgba(0, 0, 0, 0.767);
  font-weight: 800;
  font-size: 14px;
}

.completed-icon{
  color: rgba(10, 5, 5, 0.678);
  font-size: 30px;
  margin-right: 20px;
}




.pendingJob{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  margin-top: 15px;
  align-items: center;
}


.pending-title{
  color: rgba(47, 180, 6, 0.979);
  font-weight: 800;
  font-size: 16px;
  margin-top: 16px;
}

.pending-value{
  color: rgba(0, 0, 0, 0.767);
  font-weight: 800;
  font-size: 15px;
}

.pending-icon{
  color: rgba(10, 5, 5, 0.678);
  font-size: 30px;
  margin-right: 20px;
}







.pieChart-container{
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 50px;
  
}


/* Total order History Ends here */













/* TodaysReceivablePayable starts here*/

.TodaysReceivablePayable{
  margin: 0;
  padding: 0;
}


.card{
  border-radius: 10px !important;
  background-color: rgba(223, 223, 224, 0.767) !important;
  box-shadow: blue;
  box-sizing: border-box;
  font-weight: 600; 
  text-align: center;
  font-size: 10px;


  transform: translateY(10px);
  transition: 0.5s all;
}

.Payable-Title{
  color: rgb(248, 112, 0);
  margin-bottom: 10px;
  font-size: 14px;
}

.Payable-Body{
  color: rgba(70, 65, 65, 0.911);
}

.Receivable-Title{
  color: rgba(8, 168, 56, 0.973);
  margin-bottom: 10px;
  font-size: 14px;
}

.Receivable-Body{
  color: rgba(70, 65, 65, 0.911);
}


.Payable-Card{
  background-color:rgba(240, 125, 18, 0.185);
  margin: 0;
}

.card:hover{
  transform: translateY(0px);
}
.Receivable-Card{
  background-color:rgba(83, 243, 9, 0.308);
  margin: 0;
}

/*
.lowerCol{
  margin: 0;
  padding: 0;
  width: 100px;
} */

.Payable-Receivable-Piechart{
  text-align: center;
}


@media (max-width: 470px) {
  .DashBoard{
    background-color: rgb(216, 206, 206);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5rem;
  }
}


@media (max-width: 280px) {
  .DashBoard{
    background-color: rgb(216, 206, 206);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0.5rem;
  }
}




/* TodaysReceivablePayable ends here */






/* Chart css starts here */


.pieChart{
  width: 200px;
  height: 200px;
}

@media(max-width: 500px){

}


/* Chart css ends here */









/* Total Order Status starts here */
.TotalOrderStatus{
  margin-top: 0px ;
  padding: 0px;
  border-radius: 10px;
  margin: 0px;
}


.total-receivable{
  color: purple;
  font-weight: 800;
  font-size: 16px;
  margin-top: 20px
}
/* Total Order Status ends here */

